<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
        <a class="sidebar-brand brand-logo" href="index.html"><img src="/Templates/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/images/logo.svg" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="index.html"><img src="/Templates/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="https://media.licdn.com/dms/image/v2/D4D03AQHFOIcWwlSuVw/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1730156590560?e=1746662400&v=beta&t=S36KDx8dh1MKk_Str4zzikrASajGJdE6cBMeII82IxU" alt="profile" />
                    <span class="login-status online"></span>
                </div>
                <div class="nav-profile-text d-flex flex-column pr-3">
                    <span class="font-weight-medium mb-2">@ViewBag.profile</span>
                    <span class="font-weight-normal"></span>
                </div>
                
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Anasayfa</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi-folder-outline menu-icon"></i>
                <span class="menu-title">Kategoriler</span>
                <i class="menu-arrow"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/icons/mdi.html">
                <i class="mdi mdi-star menu-icon"></i>
                <span class="menu-title">Öne Çıkanlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/forms/basic_elements.html">
                <i class="mdi mdi-cogs menu-icon"></i>
                <span class="menu-title">Hizmetler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/charts/chartjs.html">
                <i class="mdi mdi-layers menu-icon"></i>
                <span class="menu-title">Projeler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/tables/basic-table.html">
                <i class="mdi mdi-account-group menu-icon"></i>
                <span class="menu-title">Personeller</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#about" data-toggle="collapse" aria-expanded="false" aria-controls="about">
                <i class="mdi mdi-file-document-box menu-icon"></i>
                <span class="menu-title">Hakkımda</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="about">
                <ul class="nav flex-column ml-3">
                    <li class="nav-item">
                        <a class="nav-link" href="pages/tables/basic-table.html">
                            <i class="mdi mdi-message menu-icon"></i>
                            <span class="menu-title">Mesajlar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/tables/basic-table.html">
                            <i class="mdi mdi-bell menu-icon"></i>
                            <span class="menu-title">Bildirimler</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <ul class="mt-4 pl-0">
            <li>
                <a href="#" class="nav-link">
                    <i class="mdi mdi-logout menu-icon"></i>
                    <span class="menu-title">Çıkış Yap</span>
                </a>
            </li>
        </ul>
    </ul>
</nav>
